* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: arial;
}

header {
    height: 58px;
    width: 1380px;
    background-color: #0f1111;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.amazon {
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}

.nav {
    height: 50px;
    width: 113px;
}

.firstadd {
    display: flex;
}

.address i {
    font-size: 14px;
}

.searchbox {
    width: 698px;
    height: 60px;
    display: flex;
    align-items: center;
}

.select {
    background-color: #bfc9c2;
    height: 40px;
    width: 52px;
    text-align: center;
    color: white;
    border-top-left-radius: 4px;
    border-bottom-leftt-radius: 4px;
    border: none;
}

.input {
    width: 594px;
    height: 40px;
    border: none;
    font-size: 15px;
}

.fa-magnifying-glass {
    font-size: 24px;
    line-height: 40px;

}

.searchlogo {
    height: 40px;
    width: 45px;
    background-color: #fcba03;
    text-align: center;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.signin {
    display: flex;
    flex-direction: column;
}

.orders {
    display: flex;
    flex-direction: column;
}

.cart i {
    width: 38px;
    height: 26px;
    font-size: 27px;
}

.amazon:hover {
    border: 1px solid white;
}

.address:hover {
    border: 1px solid white;
}

.searchbox:hover {
    border: 1px solid white;
}

.signin:hover {
    border: 1px solid white;
}

.orders:hover {
    border: 1px solid white;
}

.cart:hover {
    border: 1px solid white;
}

.panel {
    background-color: #222f3d;
    height: 39px;
    width: 1380px;
    display: flex;
    align-items: center;
}

.panel a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    height: 39px;
    width: 100%;
}

.panel i {
    color: white;
    margin-left: 10px;
}

.panel a:hover {
    border: 1px solid white;
}

.herosection {
    height: 400px;
    width: 1380px;
    background-image: url(hero_image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.alertbox {
    height: 40px;
    width: 90%;
    background-color: white;
    color: black;
    line-height: 3;
    text-align: center;
    margin-bottom: 100px;
}

.box {
    height: 400px;
    width: 22%;
    background-color: white;
    margin-top: 20px;
    padding: 20px 0px 15px;

}

.maincontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #c9c9c9;

}

.backgroundimage {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(box1_image.jpg);
    height: 300px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 1rem;
}

.underbox1 {
    margin-left: 15px;

}

.box1 p {
    color: #007185;
}

.backgroundimage2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(box2_image.jpg);
    height: 300px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 1rem;
}

.backgroundimage3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(box3_image.jpg);
    height: 300px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 1rem;
}

.backgroundimage4 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(box4_image.jpg);
    height: 300px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 1rem;
}

.backgroundimage5 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(box5_image.jpg);
    height: 300px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 1rem;
}

.backgroundimage6 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(box6_image.jpg);
    height: 300px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 1rem;
}

.backgroundimage7 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(box7_image.jpg);
    height: 300px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 1rem;
}
.backgroundimage8 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(box8_image.jpg);
    height: 300px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 1rem;
}
.panel1{
    height: 49px;
    width: 1349px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37475a;
    color: white;
}
.panelunderbox{
    display: flex;
    flex-direction: column;
    height: 318px;
}
.panelunderbox a{
    text-decoration: none;
    color: #dddddd;
    font-size: 13px;
    margin-bottom: 10px;
}
.panelunderbox p{
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-top: 46px;
    margin-bottom: 14px;
}
.panel2{
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-around;
}
.panel3{
    background-color: #222f3d;
    height: 118px;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panellogo{
    height: 43px;
    width: 96px;
    background-size: cover;
}
.panel4{
    height: 80px;
    background-color: #0f1111;
    text-align: center;
   line-height: 3;
}
.panel4 a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin-left: 14px;
}
.panel4 p{
    font-size: 12px;
    color: white;
    margin-top: 6px;
}
.underpanel4{
    
}